# Backend
SQL_SERVER=DESKTOP-DRO9NN0
SQL_DATABASE=VigilanciaDW
SQL_DRIVER=ODBC Driver 17 for SQL Server
SQL_TRUSTED=true
SQL_USER=
SQL_PASSWORD=
SECRET_KEY=sibvp-vigilancia-puebla-2026-clave-secreta-jwt